{% extends "base.html" %}
{% load i18n %}
{% block centercontent %}
<h2>{% trans "Login" %}</h2>

{% if form.has_errors %}
<h5>{% trans "Your Username and Password didnt match - try again" %}</h5>
{% endif%}
<div id="search">
<form method="POST" action=".">{% csrf_token %}
<table border="0">
<TR>
<Th><label for="id_username">{% trans "User Name" %}</label></Th>
<td>{{ form.username }}</td>
</TR>
<TR>
<Th><label for="id_password">{% trans "Password" %}</label></Th>
<td>{{ form.password }}</td>
</TR>
 </td></table>
<input type="submit" value={% trans "Login" %}  class="sub">
<input type="hidden" name="next" value="/web/"/>
</form>
<a href="/web/passwordreset/" >{% trans "forgot password ?" %}</a>
</div>

{% endblock %}
