{% extends "base.html" %}
{% load i18n %}
{% block head %}
{% autoescape off %}
<title>Hole difficulty</title>
    <script src="http://google.com/jsapi" type="text/javascript"></script>
    <script>
      google.load("visualization", "1", {'packages':['corechart']});

      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var chart = new google.visualization.BarChart(document.getElementById('table_div_json'));
        var json_data = new google.visualization.DataTable({{json}});
        var options = {'title':'{{ply}}',
                     'width':600,
                     'height':800};
        chart.draw(json_data,options);
      }
    </script>
{% endautoescape %}
{% endblock %}
{% block centercontent %}
{% if back %}
<p><a href = "{{back}}">{% trans "Back" %}</a></p>
{% endif %}
    <H3>{{title}}</H3>
    <div id="table_div_json"></div>
     
{% endblock %}
