{% extends "base.html" %}
{% load i18n %}

<div class="backlink">
    
    <h3>{{trph}} {{trph.get_format_display}} {{trph.handicapmin}} to {{trph.handicapmax}}</h3>
</div>

    <table border="1">
    <tr>
        <th>Hole</th>
        {% for hole in tee.hole_set.all %}
            {% if forloop.counter == 9 %}
            <th> {{hole.number}}</th>
            <th>front</th>

            {% else %}
            <th> {{hole.number}}</th>
            {% endif %}
        {% endfor %}
        <th>Back</th>
        <th>Total</th>
        </tr>
        <tr>
        <th>Par</th>
        {% for hole in tee.hole_set.all %}
            {% if forloop.counter == 9 %}
            <th> {{hole.par}}</th>
            <th>Nine</th>
            {% else %}
            <th> {{hole.par}}</th>
            {% endif %}
        {% endfor %}
        <th>Nine</th>
        <th></th>
        </tr>
        <tr>
        <th>Stroke</th>
        {% for hole in tee.hole_set.all %}

            {% if forloop.counter == 9 %}
            <th> {{hole.strokeindex}}</th>
            <th></th>
            {% else %}
            <th> {{hole.strokeindex}}</th>
            {% endif %}
        {% endfor %}
        <th></th>
        <th></th>
        </tr>
        <tr>


        {% for player in trophyentries %}
           <TR><TD>{{ player.0 }}</TD>
           {% for score in player.1 %}
           <td>{{score}}</td>
           {% endfor %}
           </TR>
        {% endfor %}
    </table>

{% endblock %}
