{% extends "base.html" %}
{% load i18n %}
{% block centercontent %}
    <h2 >{% trans "Manage practice rounds for " %}{{club}}</h2>
    <p><a href = "/addpracticeround/">Add a new practice round</a></p>
    {% if entries  %}

    <form enctype="multipart/form-data" method="POST" action=".">{% csrf_token %}
    <table border="1">
    <tr>
        <th></th>
        <th>{% trans "Player" %}</th>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Course" %}</th>
        <th>{% trans "Marker" %}</th>
        <th>Hole</th>
        {% for hole in entries.0.member.player.tee.hole_set.all %}
            {% if forloop.counter == 9 %}
            <th> {{hole.number}}</th>
            <th>front</th>

            {% else %}
            <th> {{hole.number}}</th>
            {% endif %}
        {% endfor %}
        <th>Back</th>
        <th>Total</th>
        </tr>

        <tr>


        {% for p in entries %}
           <TR>
           <TD><input type="checkbox" name="sel" value="{{p.id}}" /></TD>
           <TD><a href="/addpracticeround/{{p.id}}/">{{ p.member }}</a></TD>
           <TD>{{ p.rounddate }}</TD>
           <TD>{{ p.tee }}</TD>
           <TD>{{ p.marker }}</TD>
           <TD><a href="/addpscores/{{p.id}}/">{% trans "Score" %}</a></TD>
           <td >{{p.getscores.scores.1}}</td>
           <td >{{p.getscores.scores.2}}</td>
           <td >{{p.getscores.scores.3}}</td>
           <td >{{p.getscores.scores.4}}</td>
           <td>{{p.getscores.scores.5}}</td>
           <td >{{p.getscores.scores.6}}</td>
           <td >{{p.getscores.scores.7}}</td>
           <td >{{p.getscores.scores.8}}</td>
           <td >{{p.getscores.scores.9}}</td>
           <td bgcolor="yellow">{{p.getscores.front}}</td>
           <td >{{p.getscores.scores.10}}</td>
           <td >{{p.getscores.scores.11}}</td>
           <td >{{p.getscores.scores.12}}</td>
           <td >{{p.getscores.scores.13}}</td>
           <td >{{p.getscores.scores.14}}</td>
           <td >{{p.getscores.scores.15}}</td>
           <td >{{p.getscores.scores.16}}</td>
           <td >{{p.getscores.scores.17}}</td>
           <td >{{p.getscores.scores.18}}</td>
           <td bgcolor="yellow">{{p.getscores.back}}</td>
           <td bgcolor="#e53027">{{p.getscores.total}}</td>
           </tr>
           <tr></tr>
           <TD colspan = "6">{% trans "ESC" %}</TD>
           <td >{{p.getescscores.scores.1}}</td>
           <td >{{p.getescscores.scores.2}}</td>
           <td >{{p.getescscores.scores.3}}</td>
           <td >{{p.getescscores.scores.4}}</td>
           <td>{{p.getescscores.scores.5}}</td>
           <td >{{p.getescscores.scores.6}}</td>
           <td >{{p.getescscores.scores.7}}</td>
           <td >{{p.getescscores.scores.8}}</td>
           <td >{{p.getescscores.scores.9}}</td>
           <td bgcolor="yellow">{{p.getescscores.front}}</td>
           <td >{{p.getescscores.scores.10}}</td>
           <td >{{p.getescscores.scores.11}}</td>
           <td >{{p.getescscores.scores.12}}</td>
           <td >{{p.getescscores.scores.13}}</td>
           <td >{{p.getescscores.scores.14}}</td>
           <td >{{p.getescscores.scores.15}}</td>
           <td >{{p.getescscores.scores.16}}</td>
           <td >{{p.getescscores.scores.17}}</td>
           <td >{{p.getescscores.scores.18}}</td>
           <td bgcolor="yellow">{{p.getescscores.back}}</td>
           <td bgcolor="#e53027">{{p.getescscores.total}}</td>
           </tr>
        {% endfor %}


    </table>
    <input type="submit" name="accept" value="Accept selected" />
            <input type="submit" name="remove" value="Delete selected" />
    </form>
    {% else %}
        <h3>{% trans "No practice rounds to process" %}</h3><br>
    {% endif %}
{% endblock %}
