{% extends "base.html" %}
{% load i18n %}
{% block centercontent %}
    <h2 >{% trans "Display leaderboards" %}</h2>
    {% if cr  %}
    <ul>
        {% for trn in cr %}
          {% if trn.kind = 'PT' %}
            <li><a href = "/leaderboard/{{ trn.id }}/0/">{{ trn.startdate }}</a></li>
            {% endif %}
          {% if trn.kind = 'TM' %}
            <li><a href = "/teamleaderboard/{{ trn.id }}/">{{ trn.startdate }}</a></li>
            {% endif %}
           {% if trn.kind = 'IN'  %}
            <li><a href = "/leaderboard/{{ trn.id }}/0/">{{ trn.startdate }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    {% else %}
        <h3>{% trans "No current leaderboards available" %}</h3><br>
    {% endif %}
{% endblock %}
