{% extends "base.html" %}
{% load i18n %}
{% block centercontent %}
    <h2 >{% trans "Manage entries for" %} {{tourn}}</h2>
    <p ><a class="links" href="/addmatchentry/{{tourn.id}}/">Add a new entry</a></p>
    {% if tourn  %}
        <p >Click an entry to delete</p>
    <table>
        <TR><Th>Player</Th>
        <Th>Tee</Th>
        <Th>Handicap</Th>
        <Th>Course handicap</Th>
        </TR>
        {% for p in entries %}
           <TR><TD><a href="/deletematchentry/{{ p.id }}/">{{ p.player }}</a></TD>
           <td>{{ p.tee }}</a></td>
           <td>{{ p.getcurrenthandicap }}</a></td>
           <td>{{ p.getcoursehandicap }}</a></td>
           </TR>
        {% endfor %}
    </table>
    {% else %}
        <h3>{% trans "You have no tournaments entered" %}</h3><br>
    {% endif %}
{% endblock %}
