{% extends "base.html" %}
{% load i18n %}
{% block centercontent %}
    <h2 >{% trans "Manage handicaps" %}</h2>
    {% if cr  %}
        <p >Click a player to add, view or edit handicaps</p>
    <table border="1">
        <TR><Th>Player</Th>
        <Th>latest handicap</Th>
        <Th>valid from</Th>
        <Th>valid to</Th>

        </TR>
        {% for p in cr %}
           <TR><TD><a href="/displayplayerhandicap/{{p.id}}/">{{ p }}</a></TD>
           <td>{{ p.latesthandicap.handicap }}</td>
           <td>{{ p.latesthandicap.valfrom }}</td>
           <td>{{ p.latesthandicap.valto }}</td>
           </TR>
        {% endfor %}
    </table>
    {% else %}
        <h3>{% trans "You have no players entered" %}</h3><br>
    {% endif %}
{% endblock %}
