{% extends "base.html" %}
{% load i18n %}
{% block centercontent %}
    <h2>{% trans "Match Play calculator" %}</h2>
{% if not display %}
    <form enctype="multipart/form-data" method="POST" action=".">{% csrf_token %}
        <table>
          {{ form.as_table }}
        </table>
        {% if start %}
        <input type="submit" name="start" value="{% trans "Submit" %}" />
        {% endif %}
        {% if calc %}
          <p>{% trans "Match between " %} {{p1.player}} {% trans " and " %} {{ p2.player }}</p><br/>
        <input type="submit" name="calc" value="{% trans "Calculate" %}" />
        {% endif %}
    </form>
{% else %}
<table>
  <tr>
    <th width = "5">{% trans "Hole" %}</th>
    <th width = "10">{{ p1.player }}</th>
    <th width = "10">{{ p2.player }}</th>
    <th>{% trans "State of match" %}</th>
  </tr>
  {% for mt in match %}
      <tr>
    <th>{{ mt.hole }}</th>
    <th bgcolor = "{{ mt.p1clr }}">{{mt.p1score}}</th>
    <th bgcolor = "{{ mt.p2clr }}">{{mt.p2score}}</th>
    <th>{{ mt.msg }}</th>
  </tr>
  {% endfor %}
</table>
{% endif %}

<div>
<p><a href = "/matchplay/{{tourn.id}}/">{% trans "Another match" %}</a></p>
<p><a href = "/leaderboard/{{tourn.id}}/">{% trans "Back to leaderboard" %}</a></p>
</div>
{% endblock %}
