{% extends "base.html" %}
{% load i18n %}
{% block centercontent %}
    <h2>{% trans "Match Play calculator" %}</h2>
{% if not display %}
    <form enctype="multipart/form-data" method="POST" action=".">{% csrf_token %}
        <table>
          {{ form.as_table }}
        </table>
        {% if start %}
        <input type="submit" name="start" value="{% trans "Submit" %}" />
        {% endif %}
        {% if calc %}
        <input type="submit" name="calc" value="{% trans "Calculate" %}" />
        {% endif %}
    </form>
{% else %}
<table border = 1>
  <tr>
    <th width = "5">{% trans "Hole" %}</th>
    <th width = "10">{{ p1.player }}</th>
    <th width = "10">{{ p2.player }}</th>
    <th>{% trans "State of match" %}</th>
  </tr>
  {% for mt in match %}
      <tr>
    <th>{{ mt.hole }}</th>
    <th bgcolor = "{{ mt.p1clr }}"></th>
    <th bgcolor = "{{ mt.p2clr }}"</th>
    <th>{{ mt.msg }}</th>
  </tr>
  {% endfor %}
{% endif %}
{% endblock %}
