{% extends "base.html" %}
{% load i18n %}
{% block centercontent %}
    <h2 >{% trans "Scoring record of " %} {{memb}}</h2>
     <h3>{% trans "Club: " %} {{memb.player.homeclub.name}}, {% trans "Tee: " %} {{memb.player.tee.get_colour_display}}, {% trans "Slope rating: " %} {{memb.player.tee.sloperating}},
     {% trans "Course rating: " %} {{memb.player.tee.courserating}}</h3>
    <p ><a href="/showcards/{{memb.id}}/">{% trans "Show full cards" %}</a></p>

    {% if diffs  %}
    <table>
        <tr>
            <th>{% trans "Date" %}</th>
            <th>{% trans "ESC Score" %}</th>
            <th>{% trans "Score Type" %}</th>
            <th>{% trans "Differential" %}</th>
        </tr>
        {% for diff in diffs %}
        <tr>
            <td>{{diff.0.scoredate|date:"d M Y"}}</td>
            <td>{{diff.0.score}}</td>
            <td>{{diff.0.scoretype}}</td>
            <td>{{diff.1}}</td>
        </tr>
        {% endfor %}
    </table>
    <h2>Tournament scores</h2>
    <table>
		<tr>
			<td>ESC Score</td>
			<td>Differential</td>
			<td>Date</td>
		</tr>
    {% for td in tdiffs %}
    <tr>
        <td>{{td.0}}</td><td> {{td.1}}</td><td> {{td.2}}</td>
    {% endfor %}
    </tr>
    </table>

    {% else %}
        <h3>{% trans "No handicaps available" %}</h3><br>
    {% endif %}
{% endblock %}
