<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html>
    {% load i18n %}
    {% load base_utils %}
    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% get_current_language_bidi as LANGUAGE_BIDI %}
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Django golf</title>
        <link rel="stylesheet" href="/sitemedia/css/blueprint/screen.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="/sitemedia/css/blueprint/print.css" type="text/css" media="print">
        <!--[if IE]><link rel="stylesheet" href="/sitemedia/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
        <link rel="stylesheet" href="/sitemedia/css/layout.css" type="text.css" media="screen, projection">
        <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-10806571-4");
pageTracker._trackPageview();
} catch(err) {}</script>
        {% block head %}

{% endblock %}
    </head>
    <body>

<div class="container">
          <div class="span-18">
            <img src="/sitemedia/pics/masthead.jpg" width="720" align="center"/>
          </div>

          <div class="span-5 box last">
            <div>
            {% if request.user.username %}
                        {% trans "Welcome "%} {{request.user.username}}
                        &nbsp;&nbsp;&nbsp;&nbsp;
                              <a href="/logout/" >{% trans "logout" %}</a>

            {% else %}
                    <a   href="/login/" >{% trans "login" %}</a>
                        <a   href="/register/" >{% trans "register" %}</a>
            {% endif %}

            </div>
            </div>
 <hr class="space">
      <div class="span-5 box">
      <h4>Menu</h4>
        <ul>
                {% get_menu %}
                {% for p in mn %}
                    <li >
                    <a href = "/{{ p.url }}" {{ p.id }}> {{ p.name }}
                    </a>
                    </li>
                {% endfor %}
      </div>

      <div class="span-18 last">

        {% block centercontent %}
        {% endblock %}
      </div>


 <hr class="space">


      <div class="span-24">
        <p class="small" align="center">
        Built by <a href="mailto:webmaster@xlquest.net">xlquest</a>, powered by linux, python, postgresql and django. Copyright xlquest
        </p>
      </div>



</div>
    </body>
</html>
